[2020-10-01 04:32] rivaslive opened #1 "translateY(calc(env(safe-area-inset-top) + 12px)) scale(0.954023); in rootId it does not work correctly"
### THANK'S!
first of all, give thanks for the great work

### PROBLEM:
when I select rootId to do the iOS effect, the div generates excessive top margin, and it doesn't do the effect like this in the demo [](https://temzasse.github.io/react-modal-sheet/#/slack-message), I would like to know what I am doing wrong ?, embed my Tag `<meta name="viewport" content="width=device-width, initial-scale=1.0

[2020-10-15 14:27] fairhat opened #2 "Server Side Rendering"
Hey,

currently using this component for SSR is impossible because ```src/sheet.tsx``` uses ```ReactDOM.createPortal(... document.body)```
document is undefined inside SSR (in my case next.js)

[2020-10-17 18:20] Temzasse commented on #2
Thank you for reporting this 🙏

I haven't used Next.js before but I'll take a look at this issue 👍

[2020-10-17 20:14] Temzasse commented on #2
@fairhat I believe this issue should be fixed in version `0.1.3`.

[2020-10-17 20:14] #2 closed

[2020-10-17 20:27] Temzasse commented on #1
Thanks for reporting this! 🙏

The problem here is that the iOS effect currently assumes that the root element height is 100% of the viewport height but this might not be true in certain cases like your Nextjs example. If the root element is much higher the scale calculation will produce incorrect looking result.

One way to fix this issue is to make sure the root element height is 100% the viewpor

[2020-10-19 07:13] Temzasse commented on #1
The way a webpage works by default is that the whole body of the page is scrollable which is not compatible with the iOS effect since there is no way to do the effect if you have scrolled down from the top of the page because the effect relies on transforming the root element. So in order to make the effect work properly you have to set the root element height to be exactly the same as the viewpor

[2020-10-19 07:13] #1 closed

[2020-10-25 04:14] rivaslive commented on #1
excellent, set my container height as you said and it works as desired

[2020-10-26 04:56] franziz opened #4 "Typescript Implementation Issue"
Hi, I am really love your work for this `react-modal-sheet`. However, I face implementation issue. Would be great if you can take a look.

I know you are busy with your job, any help will be appreciated.

Typescript implementation with `"react-modal-sheet": "^0.1.3",`

`Type '{}' is missing the following properties from type 'Pick<MotionProps, "inherit" | "transition" | "style" | "static" | "drag"

[2020-10-26 08:16] Temzasse commented on #4
Thank you for reporting this!

What versions are you using for `framer-motion` and `typescript`?

[2020-10-26 08:33] franziz commented on #4
[code]

Thanks for replying in such a fast time. Keep safe :D

[2020-10-26 08:54] franziz commented on #4
Just to update as well. It works on `frame-motion: 1.11.0`

[2020-10-26 17:10] Temzasse commented on #4
Thanks for the details!

I have trouble reproducing this locally 🤔

However, I think I will just drop the support for `framer-motion` v1 and release a new version that only supports `framer-motion` v2. Hopefully that will fix this issue 🤞

[2020-10-26 17:28] Temzasse commented on #4
@franziz I just released `1.0.0` that now only supports `framer-motion` v2 🚀

I checked that at least on Codesandbox the new types seem to work fine now. Hopefully it works for you too!

[2020-10-26 21:32] franziz commented on #4
It works in your `1.0.0` release!

Great! Thanks.

[2020-10-26 21:32] #4 closed

[2020-10-27 11:11] fairhat opened #5 "Request: Close Sheet by dragging anywhere on the Container"
Hey, thanks for the SSR update!

Is it possible to add this too?
Or expose some props to implement it myself?

[2020-10-29 07:53] Temzasse commented on #5
I guess it would be possible to make the whole sheet draggable but there are some caveats to that:

- Scrolling would not work inside the sheet content anymore since framer-motion would capture all gestures and interpret them as dragging gestures.
- The same issue applies to tap gestures so all taps to buttons/checkboxes/etc would not work properly.
- Also things like native input range sliders wo

[2020-10-29 18:47] txm3278 opened #6 "Request: Force Sheet to remain open"
The Sheet would be "closed" when it's at it's lowest snap point and always remains draggable.

[2020-11-01 11:05] Temzasse commented on #6
@txm3278 I believe this should already be possible with the current implementation: https://codesandbox.io/s/bitter-leaf-82cpv?file=/src/App.tsx

[2020-11-01 14:44] Temzasse commented on #5
I decided to test if Framer Motion had updated it's way of handling gestures/taps inside draggable targets and it seems that nowadays it's possible to make the whole container draggable 🎉 (or maybe I just messed this up initially somehow 🙈)

I will test this is a bit more and add it to the lib if everything works OK.

[2020-11-01 15:25] Temzasse commented on #5
@fairhat I added this feature to `1.1.0`. Please try it out and report any related issues 🙏

[2020-11-01 15:25] #5 closed

[2020-11-02 15:26] txm3278 commented on #6
If you swipe/drag down fast enough, in your example and when I tried to implement this, the sheet still closes. The work around I found was to set the sheet to close then reopen in onClose

[2020-12-01 19:53] krissalvador27 opened #7 "Request: allow users to pass in onDragEnd, onDragStart, onDrag callbacks"
Use case: After drag I would like my component to internally update its state and track that the Sheet is opened at 600.

Interface could be something like ...
[code]

On https://github.com/Temzasse/react-modal-sheet/blob/master/src/sheet.tsx#L82 we can add a
[code]

What do you think? Happy to contribute if you think this makes sense or if there's potentially a way for me to know the snappoint wi

[2020-12-04 10:15] Temzasse commented on #7
Thank you for this idea! 🙏

I will think about this a bit and come back to you with a more detailed answer.

[2020-12-12 10:58] Temzasse commented on #7
@krissalvador27 Sorry for not coming back to you sooner with an answer.

Do you think that `onSnap` prop could work?

[code]

The `snapPoint` would be a snap point value from the given `snapPoints` array.

This `onSnap` would be called when the sheet opens, closes, manually snaps via ref, or after dragging has ended.

I already have a working solution and I think I could just release it on npm for

[2020-12-12 11:10] Temzasse commented on #6
Ah I see, I guess a prop like `disableClosing` might be needed 🤔

I have to think about how this could be implemented and what does it mean for a sheet to non-closable.

Eg. if you don't provide any snap points does it mean that the sheet should not be draggable at all when `disableClosing` is true or does it just bounce back open if the user tries to close it via dragging down fast.

[2021-01-09 13:18] Temzasse commented on #7
Released the mentioned `onSnap` prop in `v1.2.0` which should solve this issue.

[2021-01-09 13:18] #7 closed

[2021-01-22 18:26] alex-cory opened #8 "Syntax Suggestions"
What do you think about syntax like this?

[code]
This allows us to reuse the same action sheet throughout the app only having to import it once, and passing different props to it wherever we want to use it.

[2021-01-23 10:08] Temzasse commented on #8
Thank you @alex-cory for the suggestion!

Can you provide a bit more background info about this idea? Are there some limitations in the current API design that make it too difficult or impossible to achieve some desired outcome? I'm not sure I'm able to see the benefits of your proposed API design 🤔

[2021-02-07 17:40] alex-cory commented on #8
It allows you to have shareable sheets, and open them from anywhere in your application.

So, your solution assumes we will be setting the state of the sheet to open from within the same component. For instance, if I have a sheet that needs to be shared throughout the app, the only way to open it is via redux, useContext, or other global state management libraries.

If I have a sharable sheet, I n

[2021-02-17 09:48] stephanschubert commented on #6
@Temzasse I would second this issue because there are use-cases were you want to stop interacting (for some time) with the sheet itself:

* User opens the sheet
* User starts swiping an image gallery inside of it

**Problem:** Sheet shouldn't move or close any case while swiping.

[2021-02-19 08:03] Temzasse commented on #6
@stephanschuber would the earlier mentioned `disableClosing` solve your use case or should there also be a prop like `disableInteractions` that would completely disable all gestures?

I think the `disableClosing` prop should not disable all interactions in order to still have a nice UX with sheet (direct manipulation principle etc).

I believe that it should already be possible to have scrollable

[2021-02-19 08:07] Temzasse commented on #8
It's quite easy to create a custom global sheet system with React context like you mentioned so I'm quite hesitant to completely rewrite the internal sheet API just to support this use case.

I guess we could have an example for this use case in the `examples` folder 🤔

[2021-02-19 19:58] marcinbittel opened #10 "Request: Flag to make whole sheet draggable/only header"
Hey,

As I can see in commits history that the SheetContent was not a draggable component in the past, is there a chance to provide functionality to disable drag on SheetContent eg. by adding some component props?

[2021-02-20 09:43] Temzasse commented on #10
This should be quite easy to add but I have to think about what the API will be for these kinds of modifiers.

This somewhat relates to the other issue about disabling the closing of the sheet. Maybe both of these could be solved by a unified solution 🤔

[2021-02-20 09:50] stephanschubert commented on #6
@Temzasse I had to remove the `onDrag*` handlers while swiping to avoid moving the sheet (because you never stay exactly horizontally)

[2021-02-20 12:56] Temzasse commented on #10
I added `disabledDrag` prop that can be used to disable dragging for the whole sheet or its subparts.

Please take a look at the [Sheet.Content props](https://github.com/Temzasse/react-modal-sheet#content-props) section in the docs.

I hope this solves your issue 🙂

[2021-02-20 12:56] #10 closed

[2021-02-20 12:57] Temzasse commented on #10
Oh yeah and remember to update the lib to v1.3.0.

[2021-02-20 13:02] Temzasse commented on #6
@stephanschubert I have released v1.3.0 where I added a `disabledClosing` prop that can be passed to the whole sheet or its subparts to disabled dragging.

I also created an [example](https://github.com/Temzasse/react-modal-sheet/blob/master/example/components/DisableDrag.tsx) where dragging is disabled for the sheet content when the content is horizontally scrolled.

I hope that this solves your

[2021-02-20 14:37] marcinbittel commented on #10
Thank you for the quick reply! :)

[2021-02-21 10:33] stephanschubert commented on #6
@Temzasse Yep, works for my use-case. Thanks :+1:

[2021-03-05 14:40] bulby97 commented on #4
Hi, I have this issue with:
- "framer-motion": "^3.2.0",
- "react-modal-sheet": "^1.3.0",

[2021-04-01 15:11] 10000multiplier opened #13 "Glitchy behaviour when swiping on scrollable content"
https://user-images.githubusercontent.com/57633368/113315177-04be3700-92db-11eb-8661-117042e0e7d0.mp4

[2021-04-02 17:37] 10000multiplier opened #14 "Feature request: add option to unblock backdrop while modal is opened"
It would be nice if a dropdown menu in a navbar could still work while the modal was open.

Awesome project!

[2021-04-05 04:43] 10000multiplier commented on #14
actually I found a way around this.

just add `style={{ isolation: 'isolate', zIndex: 9999999 }}` to the component you want to elevate.

[2021-04-05 13:20] fairhat commented on #5
works, thx!

[2021-04-05 13:23] fairhat opened #16 "set id for sheet for custom styling"
could you allow us to set an id for the sheet container?

Right now this assumes that only one sheet would exist on the page, however i am using multiple (and want to have them different widths on desktop) but custom styling is always applied to the classes.

Something like ``` <Sheet id="custom-sheet"></Sheet>``` should be enough

Edit: Seems like setting an id for sheet.container actually works,

[2021-04-05 13:56] fairhat opened #17 "allow for relative snappoints"
Hey again,

noticed a bug:
If i set the snappoint to e.g 600 (which is the height i want to have on desktop) causes the mobile ui to "oversnap" the sheet out of the viewport (because the phone im testing this with has actually <600 px viewport height)

any ideas how to prevent this from happening?

[2021-04-07 12:16] i-am-the-slime opened #18 "Janky when dragging higher than intended or a certain speed"
Hello there! Thanks for the library. I found that when dragging the sheet higher than its breakpoint at moderate speeds it janks back to a lower position and then animates to the top instead of animating down from the top.

[2021-04-09 04:13] 10000multiplier commented on #17
I'm solving it like this: `const snapPoints = React.useCallback(isMobile? [500, 100] : [610, 100], [isMobile]);`

[2021-04-09 04:15] 10000multiplier commented on #18
yep experiencing the same behaviour!

[2021-04-10 13:35] Temzasse commented on #17
Yep @10000multiplier solution looks good. I leave these kind of things for the user to handle since I don't want to make too many assumptions about the usage of this lib.

You could utilize react-use to detect the mobile breakpoint in JS with [useMedia](https://streamich.github.io/react-use/?path=/story/sensors-usemedia--docs).

Or you can clamp the max snap point based on the height of the window

[2021-04-10 13:35] #17 closed

[2021-04-10 13:40] Temzasse commented on #16
Good catch! 🙌🏻  I will add `React.HTMLAttributes<HTMLDivElement>` to the sheet props type declaration which should fix this. This will be available in the next release which will be `v1.3.1`.

[2021-04-10 13:40] #16 closed

[2021-04-10 13:43] Temzasse commented on #8
I'm closing this issue since it's out of the scope of this library. Feel free to fork this lib if the API is not flexible enough for your needs. Happy hacking! 👨🏼‍💻

[2021-04-10 13:43] #8 closed

[2021-04-10 13:44] Temzasse commented on #14
Glad you figured it out! 🙂 👍🏻

[2021-04-10 13:44] #14 closed

[2021-04-10 13:46] Temzasse commented on #13
Can you elaborate on what is happening here and what is the expected behaviour?

Dragging very small amounts can look a bit janky but I'm not sure if there is anything to be done for that since Framer Motion is responsible of doing the animation work.

[2021-04-10 13:50] Temzasse commented on #18
@i-am-the-slime could you provide a video or some other type of reproduction of this behaviour? Is this happening on desktop or on mobile?

[2021-04-10 14:11] Temzasse commented on #18
I have hunch that this jankiness is caused by the fact that the animation is driven by two different motion values: one for the dragging and one for the spring animation after the dragging has ended (the jank probably occurs right at the moment we switch between these two motion values).

I need to investigate if Framer Motion v4 has a better way to switch between linear and spring animation witho

[2021-04-11 10:50] Temzasse commented on #18
I think I figured it out. It's possible to use a single motion value and do the spring animations by using Framer Motion's [`animate`](https://www.framer.com/api/motion/animation/#animate-single-values) helper:

[code]

[2021-04-11 11:13] Temzasse commented on #18
This change is now available in `v1.3.2` 🚀

Hopefully it fixes your issue 🙂

[2021-04-11 11:13] #18 closed

[2021-04-11 11:17] Temzasse commented on #13
Please try updating to `v1.3.2` and see if it resolves your issue 🙏🏻

Everything should work a bit more smoothly now that only one motion value is animated for both dragging and snapping to top, bottom, or snap points 🙂

[2021-04-11 11:17] #13 closed

[2021-04-12 23:34] 10000multiplier commented on #13
Awesome.

I'm in love with your library!

[2021-04-18 18:43] 10000multiplier opened #19 "Can I use two sheets with two different styles in the same app?"
I'm overriding default styling in sheet one, but would like to use default styles in sheet two, within the same app.

Is this possible?

[2021-04-19 04:51] 10000multiplier commented on #19
ah I see this was resolved in #16.

[2021-04-19 04:51] #19 closed

[2021-04-20 07:03] 10000multiplier opened #20 "Option to block scroll on backdrop?"
Would be nice if there was a prop for this 🥰

[2021-04-23 23:36] MarkusWendorf opened #21 "SSR Support for Sheet.Content"
Hi there,

would it be possible to output the Sheet.Content to the html on the server-side?
Currently it is not possible because createPortal references part of the document (not available on the server), right?.

If the user could decide how/where to mount the Sheet this would be possible right? i.e. opting out of the createPortal logic and putting it somewhere else in the regular React tree.

[2021-05-09 19:23] oyhan opened #23 "Couldn't run with Next js"
Hi @Temzasse
I intended to use your library with Nextjs and server side rendering but it seems it can't be done.
Even I importing using `dynamic`  and `ssr : false`

Do you have any direction?

[2021-05-14 12:39] lodisy opened #27 "The A11ySheet example seems not working"
code:

[code]

Got error:

[code]

[2021-05-14 13:20] lodisy commented on #27
caused by the linaria styled function, use css tag instead

[2021-05-14 13:20] #27 closed

[2021-05-19 19:47] alex-cory opened #28 "custom springConfig not working"
See the [codesandbox](https://codesandbox.io/s/react-modal-sheet-springconfig-bug-4e2m3)

[2021-05-22 15:56] lodisy opened #29 "Feature request: add support for from top direction?"
Hello,

I want to use the modal sheet as a swippable header, which is basically a mirrored version but probably also needs to handle the point events (like the header in the Playstation App).

Any idea or advice on how to make it?  Thanks.

[2021-05-22 15:58] lodisy commented on #29
![Screenshot_20210522-175650_PS App.jpg](https://i.loli.net/2021/05/22/FXRckwxWlYbBT3u.jpg) ![Screenshot_20210522-175630_PS App.jpg](https://i.loli.net/2021/05/22/VrJdLGtPpyE2Yim.jpg)

[2021-05-26 19:10] lodisy opened #32 "Unable to pass ref to Sheet.Content or children within"
Hi, I want to use the useElementScroll from framer motion to animate the children inside Sheet.Content. But it seems that the ref remains undefined.

Below is the code example:

https://codesandbox.io/s/serverless-fast-l6w90

[2021-05-26 22:30] lodisy commented on #29
Made it by adding a fromTop param and modifying the handleDrag, and also the container animation etc.

[2021-05-26 22:31] #29 closed

[2021-05-27 09:37] Temzasse commented on #23
There is an open [PR](https://github.com/Temzasse/react-modal-sheet/pull/22) about improving SSR but the author hasn't responded to my latest comments (I might have to over take the PR and get it merged).

[2021-05-29 12:24] Temzasse commented on #32
Hi @lodisy 👋🏻

The reason why the ref isn't working as you expect is because the internals of the sheet are not rendered until the sheet is opened. You can get around this issue by moving the internals into a separate component and setup all the scroll handlers there:

[code]

I tested this in your sandbox and it should work.

I hope this helps 🙂

[2021-05-29 12:24] #32 closed

[2021-05-29 12:26] Temzasse commented on #21
Fixed in https://github.com/Temzasse/react-modal-sheet/pull/33

[2021-05-29 12:26] #21 closed

[2021-05-29 12:26] Temzasse commented on #23
This should be fixed in https://github.com/Temzasse/react-modal-sheet/pull/33

I will publish a new npm release soon.

[2021-05-29 12:26] #23 closed

[2021-05-29 12:28] Temzasse commented on #20
I think you should be able to achieve this without any modifications to the library itself by setting [`touch-action: none;`](https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action) to the backdrop that you render.

[2021-05-29 12:38] Temzasse commented on #28
Hi @alex-cory 👋🏻

Good catch! 👏🏻 The spring config is only used for the snapping behaviour and I forgot to add it to the `AnimatePresence` related animation. This should be an easy fix in `SheetContainer`:

[code]

[2021-05-29 12:44] Temzasse commented on #28
This is fixed in `v1.4.0` ✌🏻

[2021-05-29 12:44] #28 closed

[2021-05-30 02:08] 10000multiplier commented on #20
I used this library and it works very well even on safari iOS which is usually a troublemaker

https://github.com/theKashey/react-remove-scroll

[2021-06-03 15:50] #20 closed

[2021-06-16 09:09] do-wa opened #36 "LazyMotion Support/Integration"
Hi!

first of all: Great work and thank you for this lib.

I was wondering if you see any way to support LazyMotion (https://www.framer.com/api/motion/guide-reduce-bundle-size/) inside your package.

I tested an initial implementation (really just replacing the `motion` import with `m`) and published it for my personal project.
https://www.npmjs.com/package/react-lazy-modal-sheet

The caveat is of

[2021-08-28 13:16] benamm opened #42 "renderBackdrop={false} not working"
how can i access this layouts
but react-modal-sheet block all layouts

![Untitled](https://user-images.githubusercontent.com/40948849/131219870-38903d32-e074-419d-af98-bab4697d7637.png)

[code]

[2021-08-28 17:13] benamm commented on #42
@Temzasse help please

[2021-09-01 09:01] Temzasse commented on #42
Hi @benamm 👋🏻

Thank you for bringing this issue up. I think I have figured out what the problem is.

Please install version `1.4.1` which has the potential fix in it. Hopefully it solves your issue 🙂

Feel free to reopen this issue if the solution doesn't work for you.

[2021-09-01 09:01] #42 closed

[2021-09-01 11:50] benamm commented on #42
its worked

[2021-09-04 08:09] behnam-maqsudi opened #46 "is it possible dynamic snap add point ?"
how can i make dynamic size ?

![image](https://user-images.githubusercontent.com/40948849/132087700-44a466c1-db8a-4033-b041-ca760c30e121.png)

![image](https://user-images.githubusercontent.com/40948849/132087684-e0577574-328d-4714-92b5-6de7143cb0df.png)

and I found another issue !
when I set snap points like [0.9, 0.3,0] on Snap method not called correctly and return -1 or not called

please ch

[2021-09-10 08:17] navnis opened #47 "Black space appears when mobile keyboard is visible"
If we will try to pull the sheet upwards forcefully Black space appears when the mobile keyboard is visible. Black space is visible just above the keyboard.

Browser(Android)- Chrome(92.0.4515.159)
Browser(iOS)- Safari
react-model-sheet (v1.4.1)

In iOS
![IMG_2338](https://user-images.githubusercontent.com/38049137/132822691-f5e05566-c106-43cc-ac8c-2b1869e082d7.jpg)

In Android
![Screenshot_2021-0

[2021-09-12 18:33] Temzasse commented on #47
Hi @navnis👋

This doesn't seem to be happening in the [example app](https://temzasse.github.io/react-modal-sheet/#/slack-message) (at least on my iPhone) so it's a bit difficult to tell what is happening on your end.

Default keyboard:

![image](https://user-images.githubusercontent.com/6152032/132998825-d4be879e-0e51-4a3f-9ab3-bcc3b4e61cad.jpeg)

SwiftKey keyboard:

![image](https://user-images.g

[2021-09-12 18:40] Temzasse commented on #46
Hi @benamm👋

Can you describe your use case for the dynamic snap point in more detail? How should it work from your perspective?

I'll try to take a look at the snap point issue you mentioned when I have some free time to work on this project 🙂

[2021-09-13 12:31] navnis commented on #47
Hey @Temzasse

You can go to [Teasit](https://teasit.com/)
And then you can follow the steps from the videos that I have attached to recreate that scenario...

# **Android**

https://user-images.githubusercontent.com/38049137/133081818-9d2ea116-f25f-4be9-a124-468103d5f307.mp4

https://user-images.githubusercontent.com/38049137/133082165-e1f6334f-d861-446a-b2df-c456e491e251.mp4

# **iOS**

https://

[2021-09-13 15:20] shivamragnar commented on #46
Hey @Temzasse, I have a similar dynamic snap points use case. So i have two sets of snap points, which i pass as a prop using conditional operators, but i don't get the same animation as I would have got if the snap points were in same array.

Why I don't want these snap points in same array is because, when on a lower snap point, i do not want the sheet to go to a higher snap point. I wish if the

[2021-09-13 15:27] navnis commented on #47
In your [example app](https://temzasse.github.io/react-modal-sheet/#/slack-message) also this issue persists...
I have attached the video...

scenario - I tried to scroll on the right side of the sheet...

OS - iOS
Browser - Safari
https://user-images.githubusercontent.com/38049137/133111392-1a7bec5c-54f5-4076-b7e6-b612711dee9d.mp4

[2021-09-13 16:05] alex-cory commented on #47
This is also happening in the example app for me.

[2021-09-30 09:12] ScreamZ opened #49 "Scroll conflicts when using inside a scrollable view"
Hello,

first I would like to thank you for providing this nice and easy library, we never tell it enough to OpenSource contributors so thank you 🙏🏻.

----
Now I would like to share two problems I've encountered using this library, to provide a bit of context I'm trying to build a marketplace and I would like at the same time I'm using the Infinite scroll to be able to pop this modal on top and ha

[2021-09-30 09:48] Temzasse commented on #46
What would be the expected result when the snap points array is dynamically changed? Should it animate to the snap point that exists in at the current active snap point index 🤔 What if the new array has less snap points than the previous one?

[2021-09-30 09:54] Temzasse commented on #47
I have quite limited amount of time to work on this lib at the moment so it would be amazing if someone could help me out by figuring out the reason for this issue and then create a PR 😄

I think the most likely cause for these scrolling related issues has something to do with body scroll locking. Framer Motion should automatically lock body scrolling for any gestures that are applied to draggable

[2021-09-30 09:57] Temzasse commented on #36
Sorry for not responding earlier. I would love to support LazyMotion but I'm not quite sure how to do it 🤔

Maybe it would be possible to to export a lazy version like so:

[code]

I'll try to investigate this when I have some free time 🕵🏻‍♂️

[2021-09-30 10:05] Temzasse commented on #49
Hi @ScreamZ 👋🏻

The first scrolling issue can probably be solved with a body scroll locking library like this [one](https://github.com/willmcpo/body-scroll-lock). Framer Motion should handle body scroll locking automatically for draggable elements but it doesn't work all the time for some reason. So, I guess you can lock the body scroll every time you open the sheet and unlock it when the sheet cl

[2021-09-30 12:28] ScreamZ commented on #49
I guess too it doesn't belong to this library, but having a side note somewhere in the documentation giving this example could be nice. I'll use : https://mantine.dev/hooks/use-scroll-lock/ or this one from `use-hook` https://github.com/streamich/react-use/blob/master/docs/useLockBodyScroll.md

[2021-10-03 10:23] nickbyte opened #50 "How to get current active snap?"
I am trying to adjust the wrapping container height based on which is the active current point, onSnap, returns negative values. So hard to identify which is the active snap

[2021-10-06 11:09] shivamragnar commented on #46
The expected use cases are, say there are two pages in a sheet and both the pages have different set of snap points. For them to be used in the same sheet,
- When the second UI is shown based on a boolean condition, it should snap to it's set of snap points.
- Now to do that, there can be two solutions
   -> Give all the snap points in a single array and switch them according to which UI is render

[2021-10-07 04:00] giangjcr opened #51 "How to disable close modal-sheet"
Hello friends
how to make my **modal-sheet** always be displayed on screen as 100px drag max 500px and can't close modal-sheet when height is 100px

[2021-10-11 18:30] Guiw5 commented on #50
you have this handler on props

`onSnap={snapIndex =>
  console.log('> Current snap point index:', snapIndex)
}`
is the index from snapPoints array
[code]

[2021-11-12 22:29] guilnorth commented on #6
I use snapTo() function into onClose to reopen the sheet and this works for me

Exemple:

[code]

[2021-11-12 22:32] guilnorth commented on #51
Try this workaround https://github.com/Temzasse/react-modal-sheet/issues/6#issuecomment-967702561

[2021-11-18 12:42] parikkap opened #52 "Property 'onViewportBoxUpdate' is missing in type '{ children: Element[]; }' but required in type 'Pick '."
Getting this error from `Sheet.Container, Sheet.Header, Sheet.Content` and` Sheet.Backdrop`. To my understanding the expected type comes from `framer-motion` library. Could you have a look into it?

[2021-12-06 08:05] kyh opened #53 "Framer-motion 5 support"
Update peer dependency to support Framer 5
[code]

[2021-12-09 09:53] Temzasse commented on #53
Fixed in `v1.4.2`

[2021-12-09 09:53] #53 closed

[2021-12-28 13:32] torref opened #57 "its too slow"
This library has many options, it is perfect, but it is very slow when there is a lot of data in it and it creates problems especially in the performance of other component.

can you fix that and update library ? 🙏

[2022-01-06 10:57] DiogoCoelhoo commented on #52
That error can be resolved with this [https://exerror.com/cant-import-the-named-export-children-from-non-ecmascript-module-only-default-export-is-available/].
Something happened in the `framer-motion 5.x.x version `that change the way that imports work.

[2022-01-10 14:51] olifg opened #58 "Scrolling & Snap points: Unable to scroll to bottom while snap"
Hi! First of all, thank you for this awesome library 🤘 I'm having an issue with the scroll behaviour and was wondering if you have any idea on how to solve this.

I have a modal-sheet with 2 positions: 'Full' screen and half screen. snapPoints = [-50, 0.5]. Inside the modal-sheet there's content with a height that's **smaller** than the 'full' screen modal-sheet, but **bigger** than the half scree

[2022-01-20 20:52] marcinbittel commented on #58
I had slightly different but similar issue with scrollable element. It scrolled properly only when snapPoint was higher than half of the screen.

In my scenario I used react-modal-sheet v1.4.2 and framer-motion 5.x.x - tried many versions, like 5.0.0 or 5.6.0. I also wanted to try framer-motion v6.0.0 which was released yesterday but it is not supported by react-modal-sheet yet.

However, it seems

[2022-01-23 19:36] Temzasse commented on #58
Okay I finally had some time to tackle this issue 😄

I thought about this use case and I came to the conclusion that the lib should not handle this automatically but instead I have now exposed the internal `y` motion value in the latest version of the lib (v1.5.0) that you can use to resolve this issue.

Please take a look at the updated [readme](https://github.com/Temzasse/react-modal-sheet#motio

[2022-01-23 19:36] #58 closed

[2022-01-23 19:42] Temzasse commented on #57
Please take a look at [memoization](https://epicreact.dev/memoization-and-react/) if you have re-rendering problems, and you can utilize a [windowing library](https://github.com/bvaughn/react-window) if you have trouble with large amounts of data (eg. large lists).

If you have more details about performance issues related to this library please open a new issue with more info and a repro case 🙂

[2022-01-23 19:42] #57 closed

[2022-01-23 19:42] #52 closed

[2022-01-23 19:44] Temzasse commented on #51
Duplicate of #6

[2022-01-23 19:44] #51 closed

[2022-01-23 19:45] #49 closed

[2022-01-23 19:50] Temzasse commented on #50
@nickbyte can you provide a repro of this issue in [CodeSandbox](http://react.new/)? Or did you figure it out?

Your problem might be related to you changing the container height which will probably mess with the snap point calculations within the library 🤔

[2022-02-03 11:27] pedrokohler opened #64 "Property 'onClick' does not exist on Sheet.Backdrop"
Typescript is complaining that onClick property does not exist when I try to use with the Sheet.Backdrop component.

Here's the full error
[code]

Here's the code snippet I'm using in my project
[code]

Maybe I'm just missing something here? I'd appreciate any help. Thanks

[2022-02-05 16:04] Temzasse commented on #64
Hey there 👋🏻

`Sheet.Backdrop` is a `motion.div` or `motion.button` element (depending on whether you provide it the click/tap hander) which is why it exposes a bit different set of props than a regular `div` or `button` element. You can see the `onTap` handler details in the Framer Motion [docs](https://www.framer.com/docs/gestures/###ontap).

I hope this helps 🙂

[2022-02-05 16:04] #64 closed

[2022-02-05 23:45] pedrokohler commented on #64
Hey there. I don't understand how that solves my problem. I used the onClick property and typescript is still complaining as if this property does not exist. From what I got from your explanation, this shouldn't happen. Shouldn't it behave like a motion.button then in this case? Why is typescript still complaining?

[2022-02-07 17:15] Temzasse commented on #64
Sorry if I was unclear. You need to use `onTap` instead of `onClick` since Framer Motion components don't have `onClick`.

[2022-02-08 02:31] ankur-kunaico opened #65 "Animation Not Working in Safari"
Using it with FocusTrap

[code]
Without Focus Trap Its working as expected
![ezgif com-gif-maker](https://user-images.githubusercontent.com/98843048/152906923-c1f4e9f8-cb32-4f57-aa39-5d471faffa9b.gif)

[2022-02-24 14:10] shivamragnar commented on #47
Hey @Temzasse was there any updates on this one? I tried debugging this but not yet found a way around this.

[2022-02-25 08:26] Temzasse commented on #47
@shivamragnar unfortunately I don't have the bandwidth to investigate issues like this which are not easily reproducible 😞  I could not reproduce this when I initially tried to debug it so it is very difficult to fix something you can't reproduce.

[2022-02-25 14:56] shivamragnar commented on #47
@Temzasse It's alright, but it can be easily seen in the example app specifically in Slack Message example in iOS Safari.

[2022-03-10 10:11] Temzasse commented on #65
Interesting 🤔  This is probably due to the fact that I'm mapping over the children and passing them a custom key for `AnimatePresence` to work properly.

Can you try to put the `FocusTrap` between `Sheet` and `SheetContainer`? I'm doing that in my [A11ySheet demo](https://github.com/Temzasse/react-modal-sheet/blob/1decbbb8bfd84fc96003cbb30fa34eddd9cb5633/example/components/a11y/A11ySheet.tsx#L23)

[2022-03-16 05:54] jungpaeng opened #69 "Is it possible to set snapshot as the content height value?"
If the content height is 300, I would like to set the snapshot to 300.
Also, if the height of the content changes, I want to recognize it.

[2022-03-16 05:58] jungpaeng commented on #69
It is similar to this issue. #46
In `react-spring-bottom-sheet`, the minHeight argument is provided to the snapshot points

[2022-03-18 15:11] slellampati commented on #50
I have the same problem. It gives a valid snapoint index on load but after dragging, it always gives -1.

[2022-03-19 13:57] niklasgrewe commented on #47
i think you need to set a `min-height: 100vh` to the html element.

[2022-03-20 23:43] kaueburiti commented on #52
Do we have plans to update the library to be able to handle the last framer-motion version?

[2022-04-07 05:28] Guiw5 commented on #50
@Temzasse I found the issue:
I was using your example from
https://github.com/Temzasse/react-modal-sheet/blob/master/example/components/SnapPoints.tsx
but if you change the snapPoints all to percentages like:
`const snapPoints = [0.9, 0.6, 0.3, 0];`

**And just appear in responsive view**
[codesandbox](https://codesandbox.io/s/react-modal-sheet-non-closable-with-snap-points-forked-9eyccs?file=/src

[2022-04-07 05:32] Guiw5 commented on #50
it would be nice if we can have access to the div from the sheet ref.

[2022-04-09 22:41] Johnrobmiller opened #74 "Issue, app breaking: strange dependency errors"
Installing this in my project caused weird typescript errors in many components. Uninstalling the library and reinstalling yarn.lock and node_modules fixed the errors.  It looks like the newest version of this library probably has some weird dependency bugs that need fixing ASAP to be usable for many users.

EDIT: After some debugging, I found that installing this library upgraded @types/react-dom

[2022-04-20 22:30] Mr-Fullstack opened #75 "animation or smooth opening transition does not occur when opening the modal"
[problem can be seen here](https://lh3.googleusercontent.com/fife/AAWUweUWggHuYyy9ZPYeeWILcgvpQ0fMNcE7sWrIUk7g5qiIXqltBWJZUQ4iWYysT_wmkYab6m0jxk-5FPdyaKisgApGeM6qIrUGH2ezPiboDXpgH_ak-dd2PPEIgFMKY7PPnEBeEll6X29CtczHHT13EuEo9z6gCY2SETrQVkSLNEnd0GUGmWQVZaj17MdJY5clRwMpeJ63iZ3b6yqedld7pjhDIcfnBKE0t6QGk6GlooXC0Je91DtsPcdZLEUQxISZ3ZsBFiBnxWyjHt5l6aJL-kn6PG_YwIXbxxdZPBt5OUSc7czXIir9ZfimxJJY33EnMPT5Hj5K6a

[2022-04-21 15:45] Mr-Fullstack commented on #75
problem apparently was isOpen not being inside the component, because outside it was being triggered before the component was mounted, that is, the modal was already open before being visible, so it didn't show the smooth effect on opening

[2022-04-21 15:45] #75 closed

[2022-04-30 01:04] Mr-Fullstack commented on #5
can't get this working, this still works, would you have an example? please

[2022-05-08 10:00] #74 closed

[2022-05-11 14:14] shellord opened #80 "Type Error"
Getting an error like this when using TypeScript.

Property 'onViewportBoxUpdate' is missing in type '{ children: Element[]; }' but required in type 'Pick<MotionProps, "style" | "transformTemplate" | "transformValues" | "variants" | "transition" | "onViewportBoxUpdate" | "onBeforeLayoutMeasure" |

[2022-05-12 07:32] playaz87 commented on #80
Also getting this error i fixed it by implementing `onViewportBoxUpdate={() => {}}`

Whilst it does work, I have an issue on some devices where closing the sheet doesn't remove the `react-modal-sheet-container` div and leaves the backdrop covering the page rendering non-interactable.

[2022-05-15 02:25] bennettl opened #81 "How to get y value of sheet on drag"
Is it possible to invoke a function as the user drags the modal to get the y position of the sheet? Readme mentions using refs, but unclear on how to go about getting the latest values. I tried the following

[code]

[2022-05-17 18:31] Temzasse commented on #81
The `y` value is a [MotionValue](https://www.framer.com/docs/motionvalue) and its value is updated outside of React so you need to subscribe to the value changes via [y.onChange](https://www.framer.com/docs/motionvalue/#%23responding-to-changes).

[2022-05-18 03:15] playaz87 commented on #80
I'm using `framer-motion 6.3.3` and `react-modal-sheet 1.5.1`

[2022-05-18 16:39] shellord commented on #80
@Temzasse same as @playaz87
`framer-motion:^6.3.3` and `react-modal-sheet:^1.5.1`

[2022-05-24 02:46] playaz87 commented on #80
@Temzasse Any update on this?

[2022-05-30 15:59] Temzasse commented on #80
Unfortunately I don't have bandwidth to investigate this issue at the moment.

To me this sounds like a Framer Motion related issue since I'm basically just using the types from `framer-motion` lib. Please check if there is a related issue in their repo. This could be an issue with your TS version as well 🤷‍♂️

My other hunch is that you might be having two versions of `framer-motion` installed. A

[2022-06-15 20:39] Johnrobmiller commented on #80
If, having installed the latest of both framer-motion and react-sheet-modal, react-sheet-modal has errors, then this is a bug within this library. Downgrading framer-motion is not a solution to this bug, but it's what I had to do in my case to get this library to work.

[2022-06-16 07:51] playaz87 commented on #80
@Johnrobmiller Which version of `framer-motion` worked for you?

[2022-06-17 14:29] Temzasse commented on #80
I still have no clue what really caused the problem since everything works perfectly fine locally but when I build the lib the types have this extra `onViewportBoxUpdate` prop that comes out of thin air 😅 It was somehow related to me using `typeof` in the index file 🤷🏻‍♂️

Anyway, I think I found a way to fix the problem. Hopefully it works for you guys now 😊

This should be fixed in the latest pa

[2022-06-20 07:01] #80 closed

[2022-06-21 01:23] playaz87 commented on #80
@Temzasse Thanks - can confirm I'm no longer getting the errors and it's no correctly working in Android Webview.

[2022-06-23 10:57] atlasbc commented on #47
This issue is probably caused by y value being smaller than 0. Since y value makes transform: translateY(y), being it smaller than 0 makes action sheet container float. Could it be solved by restricting minimum y value to 0? @Temzasse. y value becomes smaller than 0 because window.height changes when screen keyboard pops up.

[2022-06-30 06:01] Roshdy commented on #29
@lodisy can you please provide an example?

[2022-06-30 15:34] willianferreiradev opened #84 "Is there any way to close the modal when clicking on the overlay"
I need to add this behavior, but I searched and didn't find anything about it. Is there a way to make it work?

[2022-07-01 14:35] #84 closed

[2022-07-02 02:42] willianferreiradev commented on #84
Nice. Thanks :)

[2022-07-02 10:08] vanilla-james opened #85 "Close immediately upon backdrop onTap"
Is there a setting to make the bottom sheet close immediately when backdrop is tapped?

It seems there is a default delay in the animation when closing.
Opening is much quicker.

Thank you!

[2022-07-02 10:48] vanilla-james commented on #85
I was adding a `transform` to the backdrop, which seems to have caused the delay.

[2022-07-02 10:48] #85 closed

[2022-07-03 21:52] laripereira14 opened #86 "Navigate to a page where sheet is already open skips opening animation"
I tried to open the bottom sheet as soon as the user navigates to a page with the following code:

[code]

But when PageTwo is reached, the opening animation has already happened and can't be seen. Here's a small video I recorded to illustrate:

https://user-images.githubusercontent.com/63196108/177058342-27fea27a-e1b9-4cd5-9df2-0bfcb56f7ff0.mp4

How can I make the user see this animation? I've wo

[2022-07-09 17:40] stephanschubert commented on #65
@Temzasse I'm using your `A11ySheet` example but got the same issue.. **but** removing `restoreFocus` "fixes" it. Any idea what the culprit could be?

[2022-07-14 19:05] francmarin98 opened #87 "How could I make the sheet not disappear when I scroll down?"
What I am looking for is that when I scroll down the sheet returns to the initial position and cannot be hidden

[2022-07-21 08:46] milosjovancevic commented on #69
Hello folks, any updates on this? On my project I have 3 or 4 sheet's with different children(height). Any idea how to make children height dynamic?

[2022-07-21 15:31] milosjovancevic commented on #69
Hello again,
After some time spent on figuring out solution (I failed to do so) I came by a pull request opened in repository #https://github.com/Temzasse/react-modal-sheet/pull/83 which solved the problem I had. Since my project deadline is soon I decided to fork the solution from this exceptional gentleman & developer https://github.com/nickgraffis and publish it in npm. Here is the link https:/

[2022-07-24 19:51] Temzasse commented on #69
Sorry for taking so long to respond to this 😅

I took a look at the PR and it seems like a good change (just need to resolve some prop naming nit picks). I wonder if there are other things that should be taken into account for this to work as people expect 🤔 I guess we can publish the fix from Nick and figure out other things later if this change already helps people.

[2022-08-04 10:33] ahmedalashhab opened #91 "Content in Sheet.Content does not scroll"
In my use case, the content of the sheet exceeds the vertical view of the sheet. When I try to scroll on a phone or PC, the sheet refuses to allow me to scroll down and view the rest of the content. On PC scroll works 70% of the time. However, on Android or iOS scroll does not work at all.

Upon disablingDrag the content became scrollable again, however I am no longer able to close the sheet.
Furt

[2022-08-04 21:30] billpull commented on #91
Based on my testing this is due to pointer events being disabled on the content div when drag is enabled but overriding them creates funky behavior with dragging.

[2022-08-24 16:45] AbBiz21 commented on #50
I am having the same problem, I used the following props
 <Sheet
       snapPoints={[0.925, 0.53, 0.19]}
      initialSnap={2}
      onSnap={(snapIndex) => {
        console.log(snapIndex);
      }} .../>

but it is giving the actual snap index on load only. Otherwise, it returns -1.
is there any way I can get the current snap index?

[2022-08-24 16:52] AbBiz21 opened #92 "Hiding header at Full snap."
I used 3 snap points i.e [0.925, 0.53, 0.19], the starting snap point is 0.19.

in the modal I used all the elements like this...

<Sheet>
     <Sheet.Container>
          <Sheet.Header />
          <Sheet.Content>
           </Sheet.Content>
      </Sheet.Container>
</Sheet>

I was trying to hide the header at full snap. How do I do that?  I tried to get the snapIndex and use it but it is not giv

[2022-08-28 09:21] FnugDev commented on #87
did u find a fix?

[2022-10-06 19:03] odafeaggreh opened #95 "Modal content scrolling out of the container"
Hi guys, please I need some help. The content in the button sheet tems to scroll out of the sheet itself occasionally and I'm not sure why it's having this behavior.
![Screenshot_20221006-200233_WhatsApp](https://user-images.githubusercontent.com/53455512/194397176-90c0a485-23d2-4f24-a8b2-614280b99517.jpg)

[2022-10-07 07:14] Temzasse commented on #95
Can you provide a reproduction example in CodeSandbox or some other place where it would be possible to see the bug happen?

[2022-10-07 18:00] Temzasse commented on #92
Thanks for reporting this 🙏🏻 This should be fixed in version [1.6.1](https://github.com/Temzasse/react-modal-sheet/releases/tag/v1.6.1) 🙂

[2022-10-07 18:00] #92 closed

[2022-10-07 18:01] Temzasse commented on #50
Thanks for reporting this 🙏🏻 This should be fixed in version [1.6.1](https://github.com/Temzasse/react-modal-sheet/releases/tag/v1.6.1) 🙂

[2022-10-07 18:01] #50 closed

[2022-10-07 18:01] #65 closed

[2022-10-07 18:07] Temzasse commented on #86
You can initialize the state with `false` and then open the sheet in an effect like this:

[code]

[2022-10-07 18:07] #86 closed

[2022-10-07 18:17] Temzasse commented on #87
If you don't mind losing draggability for the `Sheet.Content` then you can pass `disableDrag` to it to disable all dragging gestures for the content part of the sheet. The header will still be draggable.

[code]

Not sure if Framer Motion is able to handle both vertical scrollability and draggability for the content without occasionally mixing those two type of gesture events. If you think about i

[2022-10-07 18:17] #87 closed

[2022-10-07 18:23] Temzasse commented on #47
@atlasbc good suggestion about restricting the minimum value for y to be 0 👍🏻 I'll investigate how this can be done with Framer Motion.

[2022-10-07 18:33] Temzasse commented on #47
Restricting the `y` value didn't help. It seems that this is a "feature" in iOS Safari and not really a bug in the library: https://stackoverflow.com/questions/56351216/ios-safari-unwanted-scroll-when-keyboard-is-opened-and-body-scroll-is-disabled

[2022-10-07 19:09] Temzasse commented on #47
Using a better body scroll locking implementation from React Aria ([usePreventScroll](https://react-spectrum.adobe.com/react-aria/usePreventScroll.html)) seems to mitigate this issue. I also added the `y` value restriction just to be safe. Hopefully this is now fixed in [v1.6.2](https://github.com/Temzasse/react-modal-sheet/releases/tag/v1.6.2).

[2022-10-07 19:09] #47 closed

[2022-10-07 19:13] Temzasse commented on #91
I just released version [1.6.2](https://github.com/Temzasse/react-modal-sheet/releases/tag/v1.6.2) that should improve the body scroll locking behaviour so that the background will not scroll when the sheet is opened.

For the content scrolling/dragging issue I think there is really no other solution than to disable dragging for the content since the scroll and drag gestures are pretty much the sa

[2022-10-07 19:13] #91 closed

[2022-10-07 19:15] Temzasse commented on #95
This seems like a duplicate of https://github.com/Temzasse/react-modal-sheet/issues/47 which should be now fixed in the version [1.6.2](https://github.com/Temzasse/react-modal-sheet/releases/tag/v1.6.2).

[2022-10-07 19:15] #95 closed

[2022-10-07 19:16] Temzasse commented on #36
Not planning on supporting this for now. Feel free to open a PR if this is still needed 🙂

[2022-10-07 19:16] #36 closed

[2022-10-07 19:18] Temzasse commented on #6
This feature request needs more information since it's not super clear what it means for the sheet to be forced open. There are userland solutions for this problem like described above so I'm going to close this issue for now but feel free to open a PR with a suggested solution 🙂

[2022-10-07 19:18] #6 closed

[2022-10-11 14:54] Temzasse commented on #69
Sheet `detent` is now implemented in [v1.7.0](https://github.com/Temzasse/react-modal-sheet/releases/tag/v1.7.0). Please let me know if it doesn't solve your content height related issues 🙂

[2022-10-11 14:54] #69 closed

[2022-10-14 11:49] elsonel opened #98 "Scroll overflow content without modal moving"
There are two issues I want to bring up:

I have a modal with limited height, and the content inside is overflowing. I want to be able to scroll the content inside using touch on mobile, but the modal moves everything I try to scroll the content. Ideally only when I drag the header should the modal move.

I expect that setting `disableDrag={true}` prop on `<Sheet.Content/>`  should fix the issue b

[2022-10-15 06:46] elsonel opened #101 "Mobile Keyboard Covers Up Input in Container"
See video below. Anyway for this to be fixed in the library or external solutions?

https://user-images.githubusercontent.com/10892740/195973368-76fffbb8-c8a4-464c-86e8-eda022616885.MOV

[2022-10-17 08:56] Temzasse commented on #98
Fixed in [v1.8.1](https://github.com/Temzasse/react-modal-sheet/releases/tag/v1.8.1).

[2022-10-17 08:56] #98 closed

[2022-10-17 09:07] Temzasse commented on #101
I think this should be solved by the users of this library since the root problem is more a design/UX problem than a library problem. If you look how bottom sheets are implemented in native applications they almost never have inputs at the bottom of the sheet exactly because of this problem. Any input should be at the top of the sheet so that the keyboard doesn't cover it (like in the Slack exampl

[2022-10-17 09:07] #101 closed

[2022-10-17 21:55] elsonel commented on #101
@Temzasse

One of the reasons I brought this issue up is because a production build running an older version of this library didn't have this issue. The mobile keyboard simply pushes the entire modal upwards. I'm not sure if recent changes to this library changed this behavior or there was something weird in my code to begin with. I'm also noticing that sometimes the modal moves move upwards but t

[2022-10-18 07:02] Temzasse commented on #101
You are right that there was a recent change that caused the sheet not to move up when the keyboard shows up. That fix was related to a better body scroll locking mechanism which ensured that it's not possible to scroll the sheet in a way that would cause a blank space to appear below the sheet while the keyboard is up.

See these issues:

- https://github.com/Temzasse/react-modal-sheet/issues/95

[2022-10-21 01:46] jeeva-codingmart opened #102 "Drag Not working"

[2022-10-21 02:13] #102 closed

[2022-10-31 08:27] zillur-modoplus opened #103 "Is not scrollable when tried with actual mobile phone."
Hi there,

So I tried to use this for the next project. And it worked perfectly when I tried here in the browser but when I tried with the actual phone, I was unable to scroll. I tried exactly what it stated here.  Could you please take a look and let me know please?
Thank you.

UPDATE: I was able to scroll when I disable the drag to close function.

My code:

[code]

[2022-11-19 16:55] erhnml opened #104 "How I can disable animation when the bottom sheet closing?"
When the model after closed I can't click anything during 1-2s. I think there is some animation. How can I disable that animation?

[2022-11-19 17:44] #104 closed

[2022-11-21 09:12] laisooliveira commented on #103
I'm having the same problem, in the real phone I cannot scroll. Do you guys found a way to fix it?

[2022-11-23 10:06] LucaBogino commented on #103
Have the same problem. I haven't found a solution yet

[2022-11-24 05:37] Vizards commented on #103
It is possible to make dragging gestures and scrolling operations co-exist, but scrolling effect needs to be simulated by dragging gestures. That is, we need to make the height of the `SheetContent` change to the height of the content to be scrolled, and make the `SheetContent` respond to the dragging gesture inside the `SheetContainer` to simulate the scrolling effect on the mobile device.

You c

[2022-11-29 18:53] billpull opened #105 "Dragging very quickly moves the sheet off the page"
[code]

https://user-images.githubusercontent.com/854970/204619812-f13a0e5e-b0a5-4675-ae9d-9da6c2272803.MP4

[2022-11-30 11:13] Temzasse commented on #103
Hi everyone 👋

It is possible to have the sheet content be scrollable on mobile devices. Not sure if there are device specific limitations but at least for me the [scrolling](https://temzasse.github.io/react-modal-sheet/#/scrollable) + [slack message](https://temzasse.github.io/react-modal-sheet/#/slack-message) examples scroll just fine on my iPhone (even when the keyboard is up).

There will alw

[2022-11-30 13:55] adshrc commented on #103
I have found a workaround. I'm using "use-detect-keyboard-open" from npmjs to detect, if the keyboard is open. Then i'm adding a padding-bottom dynamically, to move everything up.

`const isKeyboardOpen = useDetectKeyboardOpen();
  const keyboardHeight =
    (isKeyboardOpen &&
      window.innerHeight - window.visualViewport.height + 'px') ||
    0;

  return (
    <Sheet
      isOpen={isOpen}